.h2{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.PayloadText{
    width: 70%;
    font-size: larger;
    align-items: center;
    text-align: center;
    padding-left: 15%;
}
.payload{
    width: 50%;
    padding-top: 18px;

}

.pure-u-1-4{
    width: 45%;
    padding-right:0%;
}
.text{
    width: 70%;
    font-size: larger;
    align-items: center;
    text-align: center;
    padding-left: 8%;
}
.maps1{


    padding-left: 1%;
}
.maps2{
    padding-left: 5%;
    padding-right: 0%;
    padding-bottom: 17px;

}
.pure-g{
    padding-right: 20px;
    
}
.timeline-and-objects{
    width: 100%;
    padding-bottom: 3%;
}
.page {
    width: 100%;
    background-color:#F0F8FF    ;

    padding: 50px;
    padding-left: 2%;
    padding-right:2%;
    padding-top: 35px;
}
.timeline{
    padding-top: 70px;
    padding-bottom: 70px;
}